In [16]:
1+1

2

- [kaggle_url](https://www.kaggle.com/competitions/playground-series-s3e20)

In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [14]:
location = train[['latitude', 'longitude']].drop_duplicates().reset_index().drop('index', axis = 1)
location['place'] = train['latitude'] + train['longitude']

In [17]:
location['No'] = range(1, len(location.index) + 1)

In [18]:
location.head(20)

    latitude  longitude  No
0     -0.510     29.290   1
1     -0.528     29.472   2
2     -0.547     29.653   3
3     -0.569     30.031   4
4     -0.598     29.102   5
5     -0.604     29.896   6
6     -0.615     30.885   7
7     -0.627     29.773   8
8     -0.637     30.763   9
9     -0.653     30.447  10
10    -0.659     30.341  11
11    -0.667     30.433  12
12    -0.677     29.623  13
13    -0.702     29.798  14
14    -0.720     30.480  15
15    -0.726     29.374  16
16    -0.727     30.573  17
17    -0.766     29.534  18
18    -0.785     29.115  19
19    -0.787     30.513  20

In [19]:
train_v2 = pd.merge(train, location, on=['latitude', 'longitude'])

In [20]:
train_v2.head(20)

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,...,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle,emission,No
0,ID_-0.510_29.290_2019_00,-0.51,29.29,2019,0,-0.000108,0.603019,-0.000065,0.255668,-98.593887,...,61085.809570,2615.120483,15.568533,0.272292,-12.628986,35.632416,-138.786423,30.752140,3.750994,1
1,ID_-0.510_29.290_2019_01,-0.51,29.29,2019,1,0.000021,0.728214,0.000014,0.130988,16.592861,...,66969.478735,3174.572424,8.690601,0.256830,30.359375,39.557633,-145.183930,27.251779,4.025176,1
2,ID_-0.510_29.290_2019_02,-0.51,29.29,2019,2,0.000514,0.748199,0.000385,0.110018,72.795837,...,60068.894448,3516.282669,21.103410,0.251101,15.377883,30.401823,-142.519545,26.193296,4.231381,1
3,ID_-0.510_29.290_2019_03,-0.51,29.29,2019,3,NaN,NaN,NaN,NaN,NaN,...,51064.547339,4180.973322,15.386899,0.262043,-11.293399,24.380357,-132.665828,28.829155,4.305286,1
4,ID_-0.510_29.290_2019_04,-0.51,29.29,2019,4,-0.000079,0.676296,-0.000048,0.121164,4.121269,...,63751.125781,3355.710107,8.114694,0.235847,38.532263,37.392979,-141.509805,22.204612,4.347317,1
5,ID_-0.510_29.290_2019_05,-0.51,29.29,2019,5,0.000294,0.871713,0.000242,0.227656,-13.453690,...,49846.001010,4495.301362,7.556143,0.250228,30.128401,37.007020,-137.388719,21.157820,4.310819,1
6,ID_-0.510_29.290_2019_06,-0.51,29.29,2019,6,-0.000285,0.791956,-0.000226,0.119397,72.198647,...,58804.276563,3537.050659,10.493107,0.240828,4.585368,30.491541,-128.196338,21.721202,4.269334,1
7,ID_-0.510_29.290_2019_07,-0.51,29.29,2019,7,-0.000016,0.976311,-0.000016,0.106799,-100.956055,...,63697.007267,2597.071563,20.533600,0.250168,16.374829,35.840248,-122.250699,20.432005,4.251361,1
8,ID_-0.510_29.290_2019_08,-0.51,29.29,2019,8,-0.000115,0.796941,-0.000101,0.164971,-40.179074,...,67222.556159,2530.851476,24.253928,0.260543,-12.021751,42.688789,-114.296369,22.365602,4.281937,1
9,ID_-0.510_29.290_2019_09,-0.51,29.29,2019,9,0.000056,0.998541,0.000014,0.157726,-100.108744,...,60298.717969,3510.293652,13.813379,0.289295,-66.258392,28.596211,-105.687177,21.084021,4.352933,1
10,ID_-0.510_29.290_2019_10,-0.51,29.29,2019,10,0.000149,0.728321,0.000102,0.113219,74.721913,...,69162.288874,2575.371424,12.985012,0.253665,4.913248,40.587692,-98.405289,19.521705,4.305424,1
11,ID_-0.510_29.290_2019_11,-0.51,29.29,2019,11,0.000297,0.761712,0.000200,0.143117,-30.171959,...,58430.739909,3655.228129,6.199493,0.279614,-13.107824,42.545254,-88.873149,20.199033,4.237399,1
12,ID_-0.510_29.290_2019_12,-0.51,29.29,2019,12,0.000053,0.760684,0.000039,0.116171,-99.519918,...,46138.010352,5433.785668,25.310670,0.273864,-12.712490,42.720095,-80.008672,21.492380,4.306893,1
13,ID_-0.510_29.290_2019_13,-0.51,29.29,2019,13,0.000116,0.699315,0.000083,0.055266,16.891943,...,50277.239482,6112.789338,19.913037,0.287423,4.543546,30.621357,-72.768262,21.022855,3.908357,1
14,ID_-0.510_29.290_2019_14,-0.51,29.29,2019,14,-0.000096,0.764367,-0.000074,0.000130,76.181837,...,40170.025971,7793.561765,40.194210,0.286398,29.830068,53.307295,-60.716219,19.994206,4.515198,1
15,ID_-0.510_29.290_2019_15,-0.51,29.29,2019,15,-0.000127,0.746807,-0.000089,0.105745,16.261560,...,56090.435911,5080.378996,5.066660,0.272516,5.385456,40.748903,-60.748285,25.893368,4.328390,1
16,ID_-0.510_29.290_2019_16,-0.51,29.29,2019,16,0.000189,0.669662,0.000128,0.152503,75.777707,...,49287.959733,6054.017336,15.427695,0.281396,-30.735468,33.047988,-57.822066,26.604590,4.418508,1
17,ID_-0.510_29.290_2019_17,-0.51,29.29,2019,17,0.000182,0.782559,0.000149,0.124369,74.307499,...,53805.874163,5829.085252,6.666850,0.281621,16.074372,43.685056,-49.818546,26.349076,4.494962,1
18,ID_-0.510_29.290_2019_18,-0.51,29.29,2019,18,-0.000073,0.837010,-0.000061,0.168507,-13.356600,...,65351.859220,3877.865032,10.032099,0.308600,-41.618533,41.139542,-52.640189,31.210878,4.477078,1
19,ID_-0.510_29.290_2019_19,-0.51,29.29,2019,19,-0.000038,0.919032,-0.000044,0.141764,5.143062,...,51848.888788,6444.251066,6.973705,0.292812,-0.104201,34.628685,-46.567258,30.141886,4.520477,1